fastapi
uvicorn
sqlalchemy
pydantic
python-dotenv
passlib[bcrypt]==1.7.4
bcrypt==3.2.0
azure-search-documents
psycopg2
openai
python-multipart>=0.0.9
cloudinary
numpy
pillow
torch
torchvision
kaggle
scikit-learn

